# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Archived Backups (KiCad 6.0)
**/*-backups/*.zip

# Local project settings
*.kicad_prl

.obsidian
.codex
**/.vscode/**
**/build/**
**/backups/**
Code/MODERN/VirtualDrip/CMakeCache.txt
Code/MODERN/VirtualDrip/Makefile
Code/MODERN/VirtualDrip/CMakeFiles/CMakeConfigureLog.yaml
Code/MODERN/VirtualDrip/CMakeFiles/Makefile.cmake
Code/MODERN/VirtualDrip/CMakeFiles/Makefile2
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/progress.make
Code/MODERN/VirtualDrip/src/protocol.h
Code/MODERN/VirtualDrip/external/vDrip9928/lib/libvdrip_vdp.so
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/progress.make
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/link.txt
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/progress.make
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/link.txt
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/build.make
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/cmake_clean.cmake
Code/MODERN/VirtualDrip/Makefile
Code/MODERN/VirtualDrip/CMakeCache.txt
Code/MODERN/VirtualDrip/CMakeFiles/CMakeConfigureLog.yaml
Code/MODERN/VirtualDrip/CMakeFiles/Makefile.cmake
Code/MODERN/VirtualDrip/CMakeFiles/Makefile2
Code/MODERN/VirtualDrip/CMakeFiles/progress.marks
Code/MODERN/VirtualDrip/CMakeFiles/4.3.3/CMakeSystem.cmake
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/build.make
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/cmake_clean.cmake
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/DependInfo.cmake
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/flags.make
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/link.txt
Code/MODERN/VirtualDrip/CMakeFiles/virtual-vdp.dir/progress.make
Code/MODERN/VirtualDrip/CMakeFiles/3.31.8/CompilerIdC/CMakeCCompilerId.c
Code/MODERN/VirtualDrip/CMakeFiles/CMakeConfigureLog.yaml
Code/MODERN/VirtualDrip/CMakeFiles/3.31.8/CMakeCCompiler.cmake
Code/MODERN/VirtualDrip/CMakeFiles/3.31.8/CMakeDetermineCompilerABI_C.bin
Code/MODERN/VirtualDrip/CMakeFiles/3.31.8/CMakeSystem.cmake
Code/MODERN/VirtualDrip/CMakeFiles/3.31.8/CompilerIdC/a.out
Code/MODERN/VirtualDrip/CMakeFiles/CMakeConfigureLog.yaml
Code/MODERN/VirtualDrip/CMakeLists.txt
Code/MODERN/VirtualDrip/CMakeCache.txt
