# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Archived Backups (KiCad 6.0)
**/*-backups/*.zip

# Local project settings
*.kicad_prl

.obsidian
Schem/pBITzBackplane/C:/Users/User/Desktop/kleplace.log
Schem/pBITzBackplane/C:/Users/User/Desktop/kleplace.log
Schem/pBITzBackplane/ibom.config.ini
.codex
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/extensions.json
.vscode/tasks.json
Schem/pBITzBackplaneMezzanine/fabrication-toolkit-options.json
Schem/Zephyr-80-CPU/production/backups/*.zip
Schem/pBITzBackplaneMezzanine/production/backups/*.zip
