[submodule "Code/MODERN/Emulator/mame"]
	path = Code/MODERN/Emulator/mame
	url = https://github.com/mamedev/mame.git
[submodule "Code/HOST/CPM2.2/cpm-2.2"]
	path = Code/HOST/CPM2.2/cpm-2.2
	url = https://github.com/Z80-Retro/cpm-2.2.git
[submodule "Code/MCU/IOController/third_party/tinyusb"]
	path = Code/MCU/IOController/third_party/tinyusb
	url = https://github.com/hathach/tinyusb.git
